@import url(reset.css);
@import url(variables.css);
@import url(typography.css);

/* ### LAYOUTS.CSS ### */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: var(--font-main);
}

header {
    display: flex;
    position: relative;
    width: 100vw;
    font-family: var(--font-main);
    font-size: 1.5rem;
    background-color: var(--color-primary);
    height: 100px;
    margin-bottom: 2rem;
}

.header-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2rem;
}

.hamburger-icon {
    display: block;
    font-size: 2em;
    transition: 0.3s ease;
    cursor: pointer;
}

/* HIDES CHECKBOX THAT TRIGGERS HAMBURGER MENU TO OPEN --- */
#menu-checkbox {
  display: none;
}

#menu-checkbox:checked ~ nav {
  max-height: 600px;
  overflow: auto;
}

nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  top: 100%;
  left: 0;
  width: 400px;
  background: var(--color-primary);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  z-index: 25;
}

nav a {
    margin: 2rem;
    transition: 0.3s ease;
}

nav a:hover {
    opacity: 30%;
}

.header-logo {
    transition: 0.3s ease;
}

.cart-button {
    font-size: 1.5em;
    transition: 0.3s ease;
}

.hamburger-icon:hover,
.header-logo:hover,
.cart-button:hover {
    opacity: 30%;
}

/* HERO BACKGROUND IMAGES - 100vh EACH --- */
.hero-container {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
}

.hero-background-image {
  z-index: 1;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-background-image {
  background-image: url(../../assets/images/hero-background-image.jpg);
  background-position: bottom center;
}

.loading-indicator {
    display: block;
    position: fixed;
    top: 15%;
    left: 5%;
    font-size: 2em;
    color: var(--color-primary);
}

.all-products-container {
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 900px;
    gap: 2rem;
    height: auto;
    margin: auto;
    margin-bottom: 2rem;
    padding: 0;
    background-color: var(--color-primary);
    border: 2rem solid var(--color-primary);
    overflow: contain;
    

}


.product-container {
    display: flex;
    align-items: stretch;
    justify-content: center;
    padding: 0rem;
    padding-top: 0;
    background-color: var(--color-white);
}

.product-image-container {
    margin: auto;
    min-height: 150px;
    max-height: 225px;
    min-width: 150px;
    max-width: 205px;
    padding: 1rem;
    transition: 0.3s ease;
}

.product-image-container:hover {
    opacity: 30%;
    cursor: pointer;
}

.product-image-container img {
    width: 100%;
    height: 100%;
}

.product-desc-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    text-align: center;
    width: 200px;
    background-color: var(--color-secondary);
    padding: 1.5rem;
    gap: 3rem;
}

.product-desc-container span {
    font-size: larger;
}

strong {
    color: red;
    font-size: x-large;
}


a {
    text-decoration: none;
    color: var(--color-primary);
}

/* ### DETAILS PAGE ### */
.single-product-container {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: auto;
    margin-bottom: 2rem;
    background-color: var(--color-white);
    border: 2rem solid var(--color-primary);
}

.single-product-img-container {
    margin: auto;
    min-height: 450px;
    max-height: 675px;
    min-width: 450px;
    max-width: 315px;
    padding: 1rem;
}

.single-product-img-container img {
    width: 100%;
    height: 100%;
}

.single-product-desc-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-secondary);
    padding: 1.5rem;
    gap: 3rem;
}

.single-product-desc-container h2 {
    grid-column: 1;
    grid-row: 1;
}

.single-product-desc-container p {
   font-size: large;
   text-align: center;
}

.single-product-desc-container span {
    font-size: large;
    font-weight: bold;
}

.gender, .colors {
    grid-column: 1;

}

.sizes-container {
    display: flex;
    gap: 1rem;
}





/* ### CHECKOUT PAGE ### */

.cart-main-container {
    display: grid;
    min-width: 900px;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 4rem;
    background-color: var(--color-secondary);
    border: 2rem solid var(--color-primary);
}

.cart-title-container {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    justify-content: center;
    align-items: center;
    margin-top: -3rem;
    margin-bottom: 2rem;
}

.empty-cart-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: var(--color-secondary);
    min-height: 400px;
    min-width: 900px;
}

.empty-cart-content-container span {
    color: var(--color-primary);
    font-size: 2rem;
}

.cart-content-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.cart-content-left-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.cart-product-container {
    display: flex;
    flex-direction: row;
    max-height: 200px;
    max-width: 450px;
    background-color: var(--color-white);
    border: 1rem solid var(--color-primary);
    margin-left: -1rem;
    padding: 1rem;
}

.cart-product-image-container {
    max-width: 200px;
    max-height: 200px;
}

.cart-product-image-container img {
    width: 100%;
    height: 100%;
}

.cart-product-side-container {
    display: flex;
    flex-direction: column;
    justify-content: top center;
    align-items: center;
    gap: 1rem;
}

.cart-content-right-container {
    display: flex;
    flex-direction: column;
    justify-content: top center;
    align-items: center;
    max-height: 160px;
    gap: 3rem;
    padding: 2rem;
    border: 1rem solid var(--color-primary);
    background-color: var(--color-secondary);
}




/* ### CONFIRMATION PAGE ### */

.confirmation-container {
    display: grid;
    min-width: 900px;
    gap: 2rem;
    height: auto;
    margin: auto;
    padding: 0;
    background-color: var(--color-primary);
    border: 2rem solid var(--color-primary);
}

.confirmation-title-container {
    display: flex;
    max-width: 900px;
    height: 100px;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    justify-content: center;
    align-items: center;

}

.confirmation-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secondary);
    padding: 2rem;
}

.confirm-img-container {
    display: flex;
    max-width: 100px;
    max-height: 100px;
}

.confirm-img img {
    width: 100%;
    height: 100%;

}






/* #### COMPONENTS.CSS #### */

.product-desc-container button,
.single-product-desc-container button,
.cart-content-right-container button,
.continue-btn {
    display: block;
    border-radius: 2rem;
    padding: 0.5rem;
    background-color: var(--color-primary);
    color: var(--color-white);
    font-size: large;
    font-weight: bold;
    border: none;
    transition: 0.3s ease;
    cursor: pointer;
}

.product-desc-container button:hover,
.single-product-desc-container button:hover,
.cart-content-right-container button:hover,
.cart-product-side-container button:hover,
.continue-btn:hover {
    opacity: 30%;
}

.cart-product-side-container button {
    display: block;
    border-radius: 2rem;
    padding: 0.8rem;
    color: var(--color-white);
    background-color: red;
    font-size: 0.8rem;
    font-weight: bold;
    border: none;
    transition: 0.3s ease;
    cursor: pointer;
}

/* ### TYPOGRAPHY.CSS ### */

.product-desc-container {
    font-size: medium;
}

.product-desc-container span {
    font-weight: bolder;
}

.product-container a {
    font-weight: lighter;
}

.all-products-container h2 {
    font-size: larger;
}

h2 {
    font-size: medium;
    text-align: center;
}



/* ### TOAST ### */

.toast-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: fixed;
    top: 8rem;
    right: 2rem;
    width: 300px;
    height: 150px;
}

.toast {
    font-size: 1rem;
    font-weight: bold;
    line-height: 2rem;
    color: var(--color-secondary);
    padding: 2rem;

}

.toast.success {
    background-color: var(--color-primary);
}

.toast.error {
    background-color: red;
    color: var(--color-white);
}

footer {
    display: flex;
    position: relative;
    background-color: var(--color-primary);
    height: 100px;
    margin-top: auto;
}

.footer-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2rem;
}

.footer-buttons a {
    transition: 0.3s ease;
}

.footer-buttons a:hover {
    opacity: 30%;
}

.footer-socials {
    display: flex;
    gap: 3rem;
    font-size: 1.5em;
}

.footer-socials i {
    font-size: 1.5em;
}