:root {

  /* --- MAIN COLORS FROM DESIGN PROJECT --- */
  --color-primary: #1a3c3c;
  --color-secondary: #BAE3F0;
  --color-red: #d32f2f;
  --color-white: #ffffff;
  --color-black: #333333;
  --color-grey: #f5f5f5;

  --font-main: 'Inter', sans-serif;
}

header,
footer {
  color: var(--color-secondary);
  background: var(--color-primary);
}

header a,
header i,
footer a,
footer i {
  color: var(--color-secondary);
}